@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');

html {
  scroll-behavior: smooth;
}
body {
  padding: 0;
  margin: 0;
  background-color: #2f1893;
  font-family: 'DM Sans', sans-serif;
  color: white;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
a {
  color: white;
  text-decoration: none;
}
ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: inherit;
}
a,
button {
  cursor: pointer;
}
button {
  all: unset;
  cursor: pointer;
}
.paragraphStyle500 {
  font-weight: 500;
  font-size: 22px;
  line-height: 32px;
  letter-spacing: 0;
}
